@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.body {
  font-family: "Roboto";
  --radius: 50%;
  background-color: #202852;
}

.board {
  margin: 5%;
  border: 17px solid #c74d4d;
}

.board-square {
  height: 12%;
  width: 12%;
  outline: 1px solid brown;
  float: left;
  background-color: #f9e4d9;
  box-shadow: 3px 3px 20px 4px #08070833 inset;
}

.control-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1em;
.mute-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  transition: transform 0.2s;
}

.mute-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.mute-button:active {
  transform: scale(0.98);
}

.top-bar {
  display: flex;
  align-items: baseline;
  align-content: flex-end;
  flex-wrap: wrap;
  max-width: 750px;
  height: 70px;
  padding-bottom: 5px;
  margin: auto;
  border-bottom: solid 1px var(--primary-text-color);
}

.logo {
  font-size: 2rem;
  flex: 1;
}

.logo span {
  color: var(--foreground-color);
}

.link {
  transition: transform 0.2s;
  margin-left: 1.1rem;
}

.link:hover {
  transform: scale(1.1);
}

.link:active {
  transform: scale(0.9);
}

.control {
  color: #eff1fe;
  background-color: #c74d4d;
  border-radius: var(--radius);
  text-transform: uppercase;
}
