:root {
  --primary-text-color: #fefefe;
  --foreground-color: #c74d4d;
  --background-color: #202852;
  --board-color: #f9e4d9;
  --drop-shadow: #08070833;
  --black-stone: #222;
  --primary-highlight: #f0a0a0;
  --secondary-highlight: #93a2e9;
  
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
