.square {
    grid-column: 0; 
    grid-row: 0;
    color: var(--primary-text-color);
    background-color: var(--background-color);
    text-align: center;
    font-size: 1em;
    transition: transform 250ms linear;
}

.square.captured {
    background-color: var(--background-color);
}

.square ~ .incoming {
    cursor: pointer;
}

.edge {
    background-clip: content-box;
    cursor: pointer;
    transition: 50ms ease-out;
}
.incoming {
    background-color: pink;
    cursor: pointer;
    transition: 300ms ease-out;
}

.edge:hover{
    background-color: pink;
}

.edge.selected {
    background-color: var(--foreground-color);
}

.corner {
    background-color: var(--foreground-color);
    transform: scale(2);
    border-radius: 50%;
    z-index: 100;
}

.board-grid{
    display: block; 
    height: 85vh; 
    width: 80vh;  
    margin: 8vh auto auto auto;  
    display: grid; 
    grid-template-columns: auto repeat(24, 1vh 8vh) auto;
    grid-template-rows: auto repeat(24, 1vh 8vh) auto;
}
